<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated mapping -->
      <package
            uri="mapping"
            class="org.eclipse.rmf.reqif10.csv.importer.mapping.MappingPackage"
            genModel="model/mapping.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated mapping -->
      <factory
            uri="mapping"
            class="org.eclipse.rmf.reqif10.csv.importer.mapping.provider.MappingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.rmf.pror.import.category"
            class="org.eclipse.rmf.reqif10.csv.importer.ui.wizards.CSVImportWizard"
            icon="icons/full/obj16/excel.png"
            id="org.eclipse.rmf.reqif10.csv.importer.ui.wizard"
            name="CSV">
      </wizard>
   </extension>

</plugin>
