<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="JUNO_3_8" sequenceNumber="27">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.poi.source" version="3.9.0.v201303080712"/>
<unit id="org.apache.poi" version="3.9.0.v201303080712"/>
<unit id="com.google.guava.source" version="12.0.0.v201212092141"/>
<unit id="com.google.guava" version="12.0.0.v201212092141"/>
<unit id="org.apache.xerces" version="2.9.0.v201101211617"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130827064939/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20141013-0308"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.2.v20141013-0308"/>
<repository location="http://download.eclipse.org/modeling/emf/emf/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.8.2.M20130131-0800"/>
<unit id="org.eclipse.platform.sdk" version="3.8.2.M20130131-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sphinx.emf.serialization.feature.group" version="0.8.1.201409171422"/>
<repository location="http://download.eclipse.org/sphinx/updates/releases/0.8.x"/>
</location>
</locations>
</target>
