<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.rmf.reqif10.constraints"
            mandatory="false"
            name="Constraints for ReqIF 1.0">
      Constraints for validating ReqIF 1.0 models
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package
               namespaceUri="http://www.omg.org/spec/ReqIF/20110401/reqif.xsd">
         </package>
         <constraints categories="org.eclipse.rmf.reqif10.constraints">
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.1"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.1 EnumValue - existence of long name"
                  severity="ERROR"
                  statusCode="0101">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of EnumValue must be set
               </description>
               <target
                     class="EnumValue">
               </target>
         </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.2"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.2 AttributeDefinitionBoolean - existence of long name"
                  severity="ERROR"
                  statusCode="0102">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionBoolean must be set
               </description>
               <target
                     class="AttributeDefinitionBoolean">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.3"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.3 AttributeDefinitionDate - existence of long name"
                  severity="ERROR"
                  statusCode="0103">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionDate must be set
               </description>
               <target
                     class="AttributeDefinitionDate">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.4"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.4 AttributeDefinitionEnumeration - existence of long name"
                  severity="ERROR"
                  statusCode="0104">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionEnumeration must be set
               </description>
               <target
                     class="AttributeDefinitionEnumeration">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.5"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.5 AttributeDefinitionInteger - existence of long name"
                  severity="ERROR"
                  statusCode="0105">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionInteger must be set
               </description>
               <target
                     class="AttributeDefinitionInteger">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.6"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.6 AttributeDefinitionReal - existence of long name"
                  severity="ERROR"
                  statusCode="0106">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionReal must be set
               </description>
               <target
                     class="AttributeDefinitionReal">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.7"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.7 AttributeDefinitionString - existence of long name"
                  severity="ERROR"
                  statusCode="0107">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionString must be set
               </description>
               <target
                     class="AttributeDefinitionString">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.8"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.8 AttributeDefinitionXHTML - existence of long name"
                  severity="ERROR"
                  statusCode="0108">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of AttributeDefinitionXHTML must be set
               </description>
               <target
                     class="AttributeDefinitionXHTML">
               </target>
            </constraint>
         <constraint
                  class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
                  id="C1.9"
                  lang="JAVA"
                  mode="Batch"
                  name="C1.9 RelationGroup - existence of long name"
                  severity="ERROR"
                  statusCode="0109">
               <message>
                  LongName is not set
               </message>
               <description>
                  LongName of RelationGroup must be set
               </description>
               <target
                     class="RelationGroup">
               </target>
            </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.IdentifiableLongNameExistenceConstraint"
               id="C1.10"
               lang="JAVA"
               mode="Batch"
               name="C1.10 DatatypeDefinition - existence of long name"
               severity="WARNING"
               statusCode="0101">
            <message>
               LongName of {0} is not set
            </message>
            <description>
               LongName of DatatypeDefinition must be set
            </description>
            <target
                  class="DatatypeDefinition">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeDefinitionDatatypeDefinitionExistenceConstraint"
               id="C2.0"
               lang="JAVA"
               mode="Batch"
               name="C2.0 AttributeDefinition - existence of DatatypeDefinitiion"
               severity="ERROR"
               statusCode="0200">
            <message>
               DatatypeDefinition is not set
            </message>
            <target
                  class="AttributeDefinition">
            </target>
            <description>
               DatatypeDefinition of AttributeDefinition must be set
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeDefinitionDatatypeDefinitionTypeConstraint"
               id="C2.1"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C2.1 AttributeDefinitionBoolean - existence of DatatypeDefinitionBoolean"
               severity="ERROR"
               statusCode="0201">
            <message>
               DatatypeDefinition of wrong type
            </message>
            <target
                  class="AttributeDefinitionBoolean">
            </target>
            <description>
               DatatypeDefinition of AttributeDefinition must have correct type
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeDefinitionDatatypeDefinitionTypeConstraint"
               id="C2.6"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C2.6 AttributeDefinitionReal - existence of DatatypeDefinitionReal"
               severity="ERROR"
               statusCode="0201">
            <message>
               DatatypeDefinition of wrong type
            </message>
            <target
                  class="AttributeDefinitionReal">
            </target>
            <description>
               DatatypeDefinition of AttributeDefinition must have correct type
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionMinValueConstraint"
               id="C3.1"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.1 DatatypeDefinition - minValue is set"
               severity="ERROR"
               statusCode="0301">
            <target
                  class="DatatypeDefinitionReal">
            </target>
            <target
                  class="DatatypeDefinitionInteger"></target>
            <message>
               minValue of {0} is not set
            </message>
            <description>
               minValue of DatatypeDefinitionReal or DatatypeDefinitionInteger is set.
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionMaxValueConstraint"
               id="C3.2"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.2 DatatypeDefinition - maxValue is set"
               severity="ERROR"
               statusCode="0302">
            <target
                  class="DatatypeDefinitionReal">
            </target>
            <target
                  class="DatatypeDefinitionInteger">
            </target>
            <message>
               maxValue of {0} is not set
            </message>
            <description>
               maxValue of DatatypeDefinitionReal or DatatypeDefinitionInteger is set.
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionAccuracyConstraint"
               id="C3.3"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.3 DatatypeDefinition - Accuracy is set"
               severity="ERROR"
               statusCode="0303">
            <target
                  class="DatatypeDefinitionReal">
            </target>
            <message>
               accuracy of {0} is not set
            </message>
            <description>
               Accuracy of DatatypeDefinitionReal is set.
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionMaxLengthConstraint"
               id="C3.4"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.4 DatatypeDefinition - maxLength is set"
               severity="ERROR"
               statusCode="0304">
            <target
                  class="DatatypeDefinitionString">
            </target>
            <message>
               maxLength of {0} is not set
            </message>
            <description>
               maxLength of DatatypeDefinitionString is set.
            </description>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionRealMinMax"
               id="C3.5"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.5 DatatypeDefinitionReal - minValue&lt;=maxValue"
               severity="WARNING"
               statusCode="0305">
            <message>
               DatatypeDefinitionReal minValue is greater than maxValue
            </message>
            <description>
               minValue of DatatypeDefinitionReal should not be greater than maxValue
            </description>
            <target
                  class="DatatypeDefinitionReal">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.DatatypeDefinitionIntegerMinMax"
               id="C3.6"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C3.6 DatatypeDefinitionInteger - minValue&lt;=maxValue"
               severity="WARNING"
               statusCode="0306">
            <message>
               DatatypeDefinitionInteger minValue is greater than maxValue
            </message>
            <description>
               minValue of DatatypeDefinitionInteger should not be greater than maxValue
            </description>
            <target
                  class="DatatypeDefinitionInteger">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueRealInRange"
               id="AV1.1"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.1 AttributeValueReal - between min and max"
               severity="ERROR"
               statusCode="0401">
            <message>
               AttributeValueReal {0} than {1}
            </message>
            <description>
               theValue of AttributeValueReal must be between minValue and maxValue
            </description>
            <target
                  class="AttributeValueReal">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueIntegerInRange"
               id="AV1.2"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.2 AttributeValueInteger - between min and max"
               severity="ERROR"
               statusCode="0402">
            <message>
               AttributeValueInteger {0} than {1}
            </message>
            <description>
               theValue of AttributeValueInteger must be between minValue and maxValue
            </description>
            <target
                  class="AttributeValueInteger">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueStringMaxLength"
               id="AV1.3"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.3 AttributeValueString - not longer than maxLength"
               severity="ERROR"
               statusCode="0403">
            <message>
               AttributeValueString is longer than maxLength
            </message>
            <description>
               theValue of AttributeString must not be longer than maxLength
            </description>
            <target
                  class="AttributeValueString">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueEnumObeysMultiValued"
               id="AV1.4"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.4 AttributeValueEnumeration Multiplicity - max one value if not multiValued"
               severity="ERROR"
               statusCode="0404">
            <message>
               AttributeValueEnumeration is single valued but contains {0} values
            </message>
            <description>
               AttributeValueEnumeration must not contain more than one Value if its not multiValued
            </description>
            <target
                  class="AttributeValueEnumeration">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueRealAccuracy"
               id="AV1.5"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.5 AttributeValueReal - not more precise that accuracy"
               severity="ERROR"
               statusCode="0405">
            <message>
               AttributeValueReal {0} has {1} fracional digits but accuracy of DatatypeDefinition is {2}
            </message>
            <description>
               AttributeValueReal must not have more fractional digits than accuracy
            </description>
            <target
                  class="AttributeValueReal">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLObjectsExist"
               id="AV1.6"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.6 AttributeValueXHTML - referenced objects exist"
               severity="ERROR"
               statusCode="0406">
            <message>
               AttributeValueXHTML references {0} that can not be found: {1}
            </message>
            <description>
               All files referenced in an AttributeValueXHTML by a file URI exist
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLObjectsIsNotFile"
               id="AV1.6a"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.6a AttributeValueXHTML - referenced objects is file"
               severity="WARNING"
               statusCode="0406">
            <message>
               AttributeValueXHTML references a non-file object {0}
            </message>
            <description>
               object should be referenced by a file URI
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueEnumValidValue"
               id="AV1.7"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="AV1.7 AttributeValueEnumeration uses valid EnumValue"
               severity="ERROR"
               statusCode="0404">
            <message>
               AttributeValueEnumeration uses an illegal EnumValue
            </message>
            <description>
               An AttributeValueEnumeration only references values that are defined by its DatatypeDefinitionEnumeration
            </description>
            <target
                  class="AttributeValueEnumeration">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLNoClassAttribute"
               id="C6.1"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C6.1 The XHTML class attribute must not be used"
               severity="ERROR"
               statusCode="0406">
            <message>
               AttributeValueXHTML contains {0} with a class attribute: {1}
            </message>
            <description>
               The &apos;class&apos; attribute of the XHTML Core Attribute Collection MUST NOT be used
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLObjectsAlternative"
               id="C6.2"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C6.2 Alternative images and texts must be exported"
               severity="ERROR"
               statusCode="0406">
            <message>
               AttributeValueXHTML missing alternative for data object
            </message>
            <description>
               For XHTML object elements that refer to an external object that is not an image with the MIME-Type image/png, an alternative image AND an alternative text MUST be provided
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLObjectOnlyAllowedAttributes"
               id="C6.3"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C6.3 Only data, type, width and height are allowed as attributes for XHTML &lt;object&gt;"
               severity="ERROR"
               statusCode="0406">
            <message>
               AttributeValueXHTML contains {0} with illegal attributes: {1}
            </message>
            <description>
               If there is a specific MIME-type for the application that handles the external object, it MUST be stored in the &apos;type&apos; attribute and no other attributes than &apos;data&apos;, &apos;type&apos;, &apos;width&apos; and &apos;height&apos; MUST be used in that case.
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         <constraint
               class="org.eclipse.rmf.reqif10.constraints.AttributeValueXHTMLObjectsDataAttributePresent"
               id="C6.4"
               isEnabledByDefault="true"
               lang="JAVA"
               mode="Batch"
               name="C6.4 The location of an external object MUST be specified via the data attribute"
               severity="ERROR"
               statusCode="0406">
            <message>
               AttributeValueXHTML missing data attribute in {0}
            </message>
            <description>
               The location of an external object MUST be specified via the &apos;data&apos; attribute.
            </description>
            <target
                  class="AttributeValueXHTML">
            </target>
         </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   
   <!-- to be moved into user application -->
   <extension point="org.eclipse.emf.validation.constraintBindings">    
        <binding
            context="EObjectContext"
            category="org.eclipse.rmf.reqif10.constraints"/>
   </extension>
   
   <extension point="org.eclipse.emf.validation.constraintBindings">
        <clientContext id="EObjectContext">
            <enablement>
                <instanceof value="org.eclipse.emf.ecore.EObject"/>
            </enablement>
        </clientContext>
   </extension>

</plugin>
