<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="riftoolextension" name="RIF Tool Extension" schema="schema/riftoolextension.exsd"/>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="rif"
            class="org.eclipse.rmf.rif12.resource.Rif12ResourceFactoryImpl"/>
   </extension>
</plugin>

