<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.rmf.reqif10.ide.ui.navigationContent.reqif">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.rmf.reqif10.ide.providers.ReqIF10ExplorerContentProvider"
            id="org.eclipse.rmf.reqif10.ide.ui.navigationContent.reqif"
            labelProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerLabelProvider"
            name="ReqIF Content">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true">
               </test>
               <test
                     property="org.eclipse.sphinx.emf.metaModelIdMatches"
                     value="org\.eclipse\.rmf\.reqif10">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.classNameMatches"
                     value="org\.eclipse\.rmf\..*">
               </test>
            </and>
         </possibleChildren>
         <dropAssistant
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant"
               id="org.eclipse.rmf.reqif10.ide.ui.navigatorContent.dropAssistant.reqif">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif"
            labelProvider="org.eclipse.sphinx.examples.common.ui.providers.AppearanceExampleTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.rmf.reqif10.ide.editor.ReqIFSpecificationEditor"
            contributorClass="org.eclipse.rmf.reqif10.ide.editor.Reqif10ActionBarContributor"
            default="false"
            extensions="Specification"
            id="org.eclipse.rmf.reqif10.ide.ui.editors.reqif"
            name="ReqIF Example Editor">
         <!--
         <contentTypeBinding
               contentTypeId="org.eclipse.rmf.reqif10.reqif10XMLFile">
         </contentTypeBinding>
         -->
         
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif">
         <propertyTab
               category="advanced"
               id="org.eclipse.rmf.reqif10.ide.ui.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.rmf.reqif10.ide.ui.propertySections.advanced"
               tab="org.eclipse.rmf.reqif10.ide.ui.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
      <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.rmf.reqif10.presentation.Reqif10EditorIDContribution"
            targetID="org.eclipse.rmf.reqif10.ide.ui.editors.reqif">
         <action
               class="org.eclipse.rmf.reqif10.pror.editor.actions.PresentationConfigurationActionDelegate"
               icon="icons/full/obj16/ReqIFToolExtension.png"
               id="org.eclipse.rmf.reqif10.pror.editor.ProRConfiguration"
               label="%_Action_Presentation_Config"
               menubarPath="org.eclipse.rmf.reqif10.ide.editor.ReqIFSpecificationEditor.menue/additions"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.rmf.reqif10.pror.editor.actions.DatatypeConfigurationActionDelegate"
               icon="icons/full/obj16/SpecType.png"
               id="org.eclipse.rmf.reqif10.pror.editor.DatatypeConfiguration"
               label="%_Action_Datatype_Config"
               menubarPath="org.eclipse.rmf.reqif10.ide.editor.ReqIFSpecificationEditor.menue/additions"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.rmf.reqif10.pror.editor.actions.GeneralConfigurationActionDelegate"
               icon="icons/full/obj16/ProRGeneralConfiguration.png"
               id="org.eclipse.rmf.reqif10.pror.editor.GeneralConfiguration"
               label="%_Action_General_Config"
               menubarPath="org.eclipse.rmf.reqif10.ide.editor.ReqIFSpecificationEditor.menue/additions"
               style="push"
               toolbarPath="additions">
         </action>
         <action
               class="org.eclipse.rmf.reqif10.pror.editor.actions.WebsiteActionDelegate"
               icon="icons/full/prorIcon/prorIcon16.png"
               id="org.eclipse.rmf.reqif10.pror.editor.WebsiteConfiguration"
               label="%_Action_Website"
               menubarPath="org.eclipse.rmf.reqif10.ide.editor.ReqIFSpecificationEditor.menue/additions"
               style="push"
               toolbarPath="additions">
         </action>
      </editorContribution>
   </extension>
      <extension
            point="org.eclipse.ui.menus">
         <menuContribution
               allPopups="false"
               locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
            <toolbar
                  id="org.eclipse.rmf.reqif10.ide.ui.toolbar1">
               <command
                     commandId="org.eclipse.rmf.reqif10.ide.ui.commands.shiftLevelDown"
                     icon="icons/full/obj16/ShiftDown.png"
                     style="push">
                      <visibleWhen>
                     <reference
                           definitionId="org.eclipse.rmf.reqif10.ide.editors.reqif.isActive">
                     </reference>
               </visibleWhen>
               </command>
               <command
                     commandId="org.eclipse.rmf.reqif10.ide.ui.commands.shiftLevelUp"
                     icon="icons/full/obj16/ShiftUp.png"
                     style="push">
                      <visibleWhen>
                     <reference
                           definitionId="org.eclipse.rmf.reqif10.ide.editors.reqif.isActive">
                     </reference>
               </visibleWhen>
               </command>
                <command
                     commandId="org.eclipse.rmf.reqif10.ide.ui.commands.toggleSpecRelations"
                     icon="icons/full/obj16/SpecRelation.png"
                     style="toggle">
                      <visibleWhen>
                     <reference
                           definitionId="org.eclipse.rmf.reqif10.ide.editors.reqif.isActive">
                     </reference>
               </visibleWhen>
               </command>
            </toolbar>
         </menuContribution>
         
      </extension>
      <extension
            id="org.eclipse.rmf.reqif10.ide.editor.commands"
            point="org.eclipse.ui.commands">
         <command
               defaultHandler="org.eclipse.rmf.reqif10.ide.commands.toolbar.handler.ShiftLevelDownHandler"
               id="org.eclipse.rmf.reqif10.ide.ui.commands.shiftLevelDown"
               name="Shift Level Down">
         </command>
                 <command
               defaultHandler="org.eclipse.rmf.reqif10.ide.commands.toolbar.handler.ShiftLevelUpHandler"
               id="org.eclipse.rmf.reqif10.ide.ui.commands.shiftLevelUp"
               name="Shift Level Up">
         </command>
         <command
               defaultHandler="org.eclipse.rmf.reqif10.ide.commands.toolbar.handler.ToggleSpecRelationsHandler"
               id="org.eclipse.rmf.reqif10.ide.ui.commands.toggleSpecRelations"
               name="Toggle SpecRelations">
               <state class="org.eclipse.ui.handlers.RegistryToggleState:false" id="org.eclipse.rmf.reqif10.ide.ui.commands.toggleSpecRelations.state">
               </state>
         </command>
      </extension>
      <extension point = "org.eclipse.core.expressions.definitions">
      
  	<definition id="org.eclipse.rmf.reqif10.ide.editors.reqif.isActive">    
     <with variable="activeEditorId">
        <equals value="org.eclipse.rmf.reqif10.ide.ui.editors.reqif"/>
     </with>
  </definition>
</extension>
      

</plugin>
