<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <contentExtension
                  pattern="org.eclipse.rmf.reqif10.ide.ui.navigationContent.reqif">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.eclipse.rmf.reqif10.ide.providers.ReqIF10ExplorerContentProvider"
            id="org.eclipse.rmf.reqif10.ide.ui.navigationContent.reqif"
            labelProvider="org.eclipse.sphinx.emf.explorer.BasicExplorerLabelProvider"
            name="ReqIF Content">
         <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.isInScope"
                     value="true">
               </test>
               <test
                     property="org.eclipse.sphinx.emf.metaModelIdMatches"
                     value="org\.eclipse\.rmf\.reqif10">
               </test>
            </and>
         </triggerPoints>
         <possibleChildren>
            <and>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <test
                     property="org.eclipse.sphinx.emf.classNameMatches"
                     value="org\.eclipse\.rmf\..*">
               </test>
            </and>
         </possibleChildren>
         <dropAssistant
               class="org.eclipse.sphinx.emf.explorer.BasicDropAdapterAssistant"
               id="org.eclipse.rmf.reqif10.ide.ui.navigatorContent.dropAssistant.reqif">
            <possibleDropTargets>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif"
            labelProvider="org.eclipse.sphinx.examples.common.ui.providers.AppearanceExampleTabbedPropertySheetTitleProvider">
         <propertyCategory
               category="advanced"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalFormEditor"
            contributorClass="org.eclipse.sphinx.emf.editors.forms.BasicTransactionalEditorActionBarContributor"
            default="false"
            extensions="Specification"
            id="org.eclipse.rmf.reqif10.ide.ui.editors.reqif"
            name="ReqIF Example Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.rmf.reqif10.reqif10XMLFile">
         </contentTypeBinding>
         
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif">
         <propertyTab
               category="advanced"
               id="org.eclipse.rmf.reqif10.ide.ui.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.rmf.reqif10.ide.ui.editors.reqif">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.rmf.reqif10.ide.ui.propertySections.advanced"
               tab="org.eclipse.rmf.reqif10.ide.ui.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
