<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="reqiftoolextension" name="ReqIf Tool Extension" schema="schema/reqiftoolextension.exsd"/>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="reqif"
            class="org.eclipse.rmf.reqif10.resource.ReqIf1ResourceFactoryImpl"/>
   </extension>
</plugin>
